Sup</br>

Welcome</br> 
<%= data.first_name %> <%= data.last_name %>
<h3>Here are your liked things</h3>
<% client_boards.each do |board| %>
	<a href= <%= board.url %>> Check it </a>
<% end %></br>

<%= client_pins[0].url %>

<a href="/poke">Click here to do something</a>