<!DOCTYPE html>
<html>
<head>
	<title>First Sinatra App</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>
<h1>First Sinatra App</h1>

<div class="container-fluid">
	<%= yield %>
</div>

</body>
</html>