<!DOCTYPE html>
<html>
<head>
	<title>First Sinatra App</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h1>First Sinatra App</h1>

<%= yield %>


</body>
</html>