<h3>Here are your Pins</h3>
<% client_pins.each do |pin| %>
	<a href= <%= pin.url %>> Check it </a></br>
	<a href=/pin/<%= pin.id%>>pin</a></br>
	this is the pin ID: <%= pin.id %></br>

<% end %></br>

<a href="/">Go back</a>