Note: <%= data["note"] %></br>
The URL is: <a href=<%= data["url"] %>>Here</a></br>

<form action=/pin/<%= data["id"]%>/edit method="get">
  <input type="submit" value="Edit Pin?">
</form>

<form action=/pin/<%= data["id"]%> method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Pin?">
</form>

<a href="/pins">Go back</a>